@import './constants.scss';

$primary: $snailty-primary;
$warning: $snailty-secondary;

$headings-font-family: 'Lato', sans-serif;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$btn-border-radius: $rounded-pill;
$btn-border-radius-sm: $rounded-pill;
$btn-border-radius-lg: $rounded-pill;

$dropdown-link-active-bg: $secondary;

$btn-padding-x: $spacer;

@import 'node_modules/bootstrap/scss/bootstrap';

html {
	scroll-behavior: smooth;
}

.snailty-input-with-button {
	border-bottom-left-radius: $rounded-pill;
	border-top-left-radius: $rounded-pill;
}

.jumbotron {
	border-radius: 0;
	background-color: transparent;
	margin-bottom: -1px;

	&.snailty-full-height {
		min-height: calc(100vh - 76px);
	}

	&.intro-section-wrapper {
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $snailty-primary;
		background-position: right;
		background-image: url('/spyral.png');
	}
}

.snailty-icon-primary,
.snailty-icon-primary path {
	fill: $primary;
}

.snailty-icon {
	width: 16px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	display: flex;

	&.snailty-icon-lg {
		width: 20px;
		height: 20px;
		min-height: 20px;
		min-width: 20px;
	}
}
