$snailty-primary: #268d87;
$snailty-primary-light: #58c8c0;
$snailty-secondary: #ffaa56;
$snailty-secondary-light: #fdc58e;
$snailty-third: #513323;
$snailty-third-light: #835f4b;

$primary: $snailty-primary;
$secondary: $snailty-secondary;

$headings-font-family: 'Lato', sans-serif;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$btn-border-radius: $rounded-pill;
$btn-border-radius-sm: $rounded-pill;
$btn-border-radius-lg: $rounded-pill;

$dropdown-link-active-bg: $secondary;
$dropdown-link-active-color: $gray-900;

$btn-padding-x: $spacer;

@import 'node_modules/bootstrap/scss/bootstrap';

html {
	scroll-behavior: smooth;
}

.snailty-input-with-button {
	border-bottom-left-radius: $rounded-pill;
	border-top-left-radius: $rounded-pill;
}

.jumbotron {
	border-radius: 0;
	background-color: transparent;
	margin-bottom: -1px;

	&.snailty-full-height {
		min-height: calc(100vh - 76px);
	}
}
